#price {
    display: flex;
    flex-direction: column
}

#startat {
    font-size: 15px
}


#fee {
    font-size: 13px
}

#sum {
    font-size: 24px;
    font-weight: 100
}

#linkBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end,
}